* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* så alle billeder fylder det hele, dvs. har en størrelse/width på 100% */
img {
  width: 100%;
  height: 100%;
  display: block;
}

/* menu*/
ul#menu li {
  display: inline;
}

/* menuen */
/* sticky betyder at menuen følger med når man scroller ned på siden */
header {
  position: sticky;
  top: 0;
  /* 16px er top og bund og 32 px er right og left */
  padding: 16px 32px;
  box-shadow: 0 12px 28px 0 #484747;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: +1;
  background-color: #ede6de;
  font-family: "Merriweather";
  font-size: 14px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  gap: 35px;
  overflow-x: auto;
}

/* farven på teksten */
a {
  text-decoration: none;
  font-weight: 700;
  color: #5e6b74;
}

/* farven når man holder musen hen over teksten */
a:hover {
  color: #252d38;
}

/* burgermenu */
/* less-than betyder når siden bliver mindre end 600, så vises burgermenuen */
nav {
  --less-than: 600;
  --burger-lines: #aba9a9;
  --burger-border: #85868a;
}

/* footer */
.footer {
  font-size: 15px;
  color: #5e6b74;
  text-align: center;
  font-family: "Merriweather";
  padding-bottom: 20px;
}

/* giver alle siderne den samme baggrundsfarve */
body {
  background-color: #eceff3;
}

/* alle overskrifter*/
h1 {
  font-size: 55px;
  color: #ac927596;
  text-align: center;
  padding-top: 48px;
  font-family: "Lora";
}

p {
  font-size: 20px;
  text-align: center;
  font-family: "Merriweather";
}

/* knap/link til at se opgaveløsningerne */
.button {
  color: #85796c96;
  background-color: #fefefe;
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Merriweather";
  display: flex;
  margin: 6px;
}

/* når man trykker på knappen */
.button:active {
  background-color: #8b948b;
  box-shadow: 2px 2px 2px;
  transform: translateY(4px);
}

/* .............. til siden index (forsiden) .......... */
/* overskriften på forsiden- da den skal være anderledes end de andre overskrifter */
.overskrift1 {
  font-size: 98px;
  color: #ac927596;
  /* text-align: center; */
  font-family: "Lora";
  padding-bottom: 98px;
  padding-top: 2px;
  padding-left: 90px;
  grid-area: 1/1;
}

/* h2 på forsiden */
.overskrift2 {
  font-size: 35px;
  color: #85796c96;
  /* text-align: center; */
  font-family: "Lora";
  grid-area: 1/1;
  padding-top: 80px;
  padding-left: 85px;
}

/* på baggrundsbilledet, h1 og h2, så overskrifterne ligger ovenpå billedet */
/* billedet er baggrunden for h1 og h2 */
.forside {
  display: grid;
  /* betyder at baggrundsbilledet er 1920 (højde) x 1080 (bredde) is a 16:9 aspect ratio */
  /* 16:9 er et skærmformat og bruges til et baggrundsbillede på en website */
  aspect-ratio: 16/9;
  place-items: center;
  padding-bottom: 15px;
}

/* h1 og h2 er ovenpå billedet */
.overskrift1,
.overskrift2,
.img1 {
  grid-area: 1/1;
}

/* baggrundsbillde */
.img1 {
  width: 100%;
  height: auto;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .overskrift1 {
    font-size: 50px;
    padding-left: 95px;
    padding-top: 30px;
  }
  .overskrift2 {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 85px;
  }
}

/* .............. til siden tema 2 ................ */
.grid_2-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 58px;
  gap: 25px;
}
/* Givet billeder en rund kant istedet for den orginale (firkantet) */
.img2 {
  border-radius: 10px;
}
.img3 {
  border-radius: 10px;
}

/* h2 på website opgaven */
.overskrift3 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding: 5px;
}

/* h3 på website opgaven*/
/* .overskrift4 {
  font-size: 20px;
  color: rgba(133, 121, 108, 0.588);
  text-align: center;
  font-family: "Lora";
} */

/* h2 på emnesite opgaven */
.overskrift5 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
}

/* tekst på website opgaven */
.tekst2 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 18px;
}

/* tekst på emnesite opgaven */
.tekst3 {
  font-size: 15px;
  font-family: "Merriweather";
  text-align: center;
  color: #0f0f0e96;
  padding: 30px;
}

/* link til website opgaven */
.link1 {
  display: flex;
  justify-content: center;
  padding: 2px;
}

/* link til emnesite opgaven */
.link2 {
  display: flex;
  justify-content: center;
  padding: 4px;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 30px;
  }

  .website {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .img2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .emnesite {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .img3 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .tekst3 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}

/* .............. til siden tema 3 ................ */
/* grid på billederne på løsning og pitch opgaven */
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 18px er top og bund padding og 78px er højre og venstre padding */
  padding: 18px 78px;
  /* padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 78px;
  padding-left: 78px; */
  gap: 15px;
}

/* h2 på løsning opgaven */
.overskrift6 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 53px;
}

/* h2 på pitch opgaven */
.overskrift7 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 32px;
}

/*tekst på løsning opgaven */
.tekst4 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  /* 15px er top og bund padding og 80px er højre og venstre padding- nemmere at skrive det sådan */
  padding: 15px 80px;
}

/*tekst på pitch opgaven */
.tekst5 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  /* 15px er top og bund padding og 80px er højre og venstre padding- nemmere at skrive det sådan */
  padding: 15px 80px;
}

/* link til løsning opgaven (protoype opgaven) */
.link3 {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* link til pitch opgaven */
.link4 {
  display: flex;
  justify-content: center;
  padding: 3px;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img4 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .img5 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .img6 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .img7 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .img8 {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .img9 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}

/* .............. til siden tema 4 ................ */
/* grid på teksten og billederne */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

/* grid på billederne */
/* .grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
} */

/* overskrift på h2 */
.overskrift8 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 48px;
}

/* tekst */
.tekst6 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 40px;
}

/* billede af spillet */
.img10 {
  padding: 25px;
}

/* billede af forsiden på mit spil */
.img11 {
  padding: 20px;
}

/* billede af når man har vundet spillet */
.img12 {
  padding: 20px;
}

/* link til mit eget spil */
.link5 {
  display: flex;
  justify-content: center;
}

/* link til webistet af mit spil */
.link6 {
  display: flex;
  justify-content: center;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img10 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .img11 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .img12 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}

/* .............. til siden tema 5 ................ */
.grid_3-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 65px;
  gap: 30px;
}

/* h2 på pilotsite opgave */
.overskrift9 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 65px;
}

/* h2 på redesignhjemmeside opgave */
.overskrift10 {
  font-size: 32px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 15px;
}

/* tekst pilotsite opgave */
.tekst7 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 35px;
}

/* tekst redesignhjemmeside opgave */
.tekst8 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 35px;
}

/* link til pilotsite */
.link7 {
  display: flex;
  justify-content: center;
}

/* link til procedokument (hører til opgaven redesignhjemmeside) */
.link8 {
  display: flex;
  justify-content: center;
}

/* link til redesignhjemmeside */
.link9 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .grid_3-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .img13 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .pilotsite {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .img14 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .redesign {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .img15 {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .img16 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}

/* .............. til siden tema 6 ................ */

/* grid på billederne */
/* .grid_1-1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 40px;
} */

/* grid på billederne i portfolio eksamen opgaven */
.grid_3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 30px;
  padding: 40px;
}

/* grid på billederne af layoutdiagrammerne */
.grid_4-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

/* overskrift på h2 i portfolio eksamen opgave*/
.overskrift17 {
  font-size: 30px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 35px;
}

/* overskrift på h2 i layoutdiagram eksamen*/
.overskrift18 {
  font-size: 30px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 35px;
}

/* tekst på portfolio eksamen opgaven */
.tekst13 {
  font-size: 15px;
  /* text-align: center; */
  font-family: "Merriweather";
  color: #0f0f0e96;
  /* 15px er top og bund padding og 80px er højre og venstre padding- nemmere at skrive det sådan */
  padding: 15px 80px;
}

/* har sat det ind i en media queries, så det også virker på mobil størrelse- det vil sige så sitet er responsivt */
@media (max-width: 800px) {
  .grid_3-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid_4-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .img18 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .portfolio {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .img19 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .layoutdiagram {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .img20 {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .img21 {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  .img22 {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  .img23 {
    grid-column: 1/3;
    grid-row: 8/9;
  }

  .img24 {
    grid-column: 1/3;
    grid-row: 9/10;
  }

  .img25 {
    grid-column: 1/3;
    grid-row: 10/11;
  }

  .img26 {
    grid-column: 1/3;
    grid-row: 11/12;
  }

  .img27 {
    grid-column: 1/3;
    grid-row: 12/13;
  }

  .img28 {
    grid-column: 1/3;
    grid-row: 13/14;
  }

  .img29 {
    grid-column: 1/3;
    grid-row: 14/15;
  }

  .img30 {
    grid-column: 1/3;
    grid-row: 15/16;
  }
}

/* .............. til siden om mig ................ */

/* overskrift på h1 */
.overskrift11 {
  font-size: 55px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 23px;
}

/* overskrift på h2 (beskrivelse af mig overskriften) */
.overskrift12 {
  font-size: 30px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 35px;
}

/* overskrift på h2 (mit cv overskriften) */
.overskrift13 {
  font-size: 30px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 35px;
}

/* overskrift på h3 (erhverserfaring overskriften) */
.overskrift14 {
  font-size: 20px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 20px;
}

/*overskrift på h3 (uddannelse overskriften) */
.overskrift15 {
  font-size: 20px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 25px;
}

/* tekst på h3 (kontakt overskriften) */
.overskrift16 {
  font-size: 20px;
  color: #85796c96;
  text-align: center;
  font-family: "Lora";
  padding-top: 25px;
}

/* tekst på beskrivelse af mig */
.tekst9 {
  font-size: 15px;
  /* text-align: center; */
  font-family: "Merriweather";
  color: rgba(15, 15, 14, 0.588);
  padding: 47px;
}

/* tekst på erhvervserfaring*/
.tekst10 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 2px;
}

/* tekst på uddannelse */
.tekst11 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 2px;
}

/* tekst på kontakt */
.tekst12 {
  font-size: 15px;
  text-align: center;
  font-family: "Merriweather";
  color: #0f0f0e96;
  padding: 2px;
}

/* portraet billedet af mig */
.img17 {
  border-radius: 90px;
  height: auto;
}
